.auto-slider {
    width: 900px;
    overflow: hidden;
    margin: 30px auto;
}

.slider-track {
    display: flex;
    gap: 20px;
}

.product {
    min-width: 280px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

    .product img {
        width: 250px;
        height: 150px;
        border-radius: 10px;
    }
