body {
    margin: 0;
    font-family: Arial;
    background: #f5f0ff;
}

.navbar {
    background: #6a0dad;
    padding: 15px;
    color: white;
    text-align: center;
}

    .navbar a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
        font-weight: bold;
    }

.container {
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

    .product img {
        width: 250px;
        height: 160px;
        border-radius: 10px;
    }

.btn {
    background: #6a0dad;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
