<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dev Gear Store</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar">
        <span>💜 Dev Gear Store</span>
        <a href="/">Home</a>
        <a href="/Products">Products</a>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
